{% extends 'base.html' %}

{% block content %}
  <script type="application/javascript">
    async function click_signout(){
      console.log("click")
      try {
        const response = await fetch("/api/signout",{
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            //alias:alias,
            //passphrase:pass
          }),
        });
        const result = await response.json();
        console.log(result);
      } catch (error) {
        console.log(error)
      }
    }
    function click_back(){
      console.log("click")
      document.location.href = "/"
    }
    //action="/api/signin" method="POST"
    //javascript:void(0);

  </script>
    Are you sure to 
    <button onclick="click_signout();"> Logout</button>?
    <button onclick="click_back();"> Back</button>
  </form>
{% endblock %}